# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_this_strong_password
POSTGRES_DB=appdb
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=change_this_redis_password
REDIS_PORT=6379

# pgAdmin
PGADMIN_EMAIL=admin@local.dev
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
